<h1>Events#index</h1>
<div>
  <ul>
    <%@events.each do |event| %>
      <li>
        <p><%=event.location%></p>
        <p><%=event.date%></p>
        <p class='m-3'><%=event.creator.name%>
        <%if @loged %>
        <%=link_to "Show Event", event_path(event.id), class: 'btn btn-outline-primary m-3' %>
        <%end%>
        </p>
        </li>
    <%end%>
  </ul>
</div>
<p><%=@loged%></p>



