<h1>Events#index</h1>
<div>
  <h3>Future Events</h3>
  <ul>
    <%@future_events.each do |event| %>
      <li>
        <p><strong>Place: </strong><%=event.location%></p>
        <p><strong>Event Date: </strong><%=event.date%></p>
        <p class='m-3'><strong>Created By: </strong><%=event.creator.name%>
        <%if @loged %>
        <%=link_to "Show Event", event_path(event.id), class: 'btn btn-outline-primary m-3' %>
        <%end%>
        </p>
        </li>
    <%end%>
  </ul>
</div>
<div>
  <h3>Last Events</h3>
  <ul>
    <%@last_events.each do |event| %>
      <li>
        <p><strong>Place: </strong><%=event.location%></p>
        <p><strong>Event Date: </strong><%=event.date%></p>
        <p class='m-3'><strong>Created By: </strong><%=event.creator.name%>
        <%if @loged %>
        <%=link_to "Show Event", event_path(event.id), class: 'btn btn-outline-primary m-3' %>
        <%end%>
        </p>
        </li>
    <%end%>
  </ul>
</div>
