<p><strong>Event Location: </strong><%=@event[:location]%></p>
<p><strong>Event Date: </strong><%=@event[:date]%></p>
<p><strong>Created By: </strong><%=@creator%></p>
<h3>Subscribed to this event</h3>
<ul><%@attendees.each do |person|%>
  <li><%=person.name%></li>
  <%end%>
</ul>
<p>
  <% if @subscribed %>
  <%= "Subscribed"%>
  <%=link_to "Unsubscribe", event_subscribings_delete_path({event_id: @event.id}), method: 'get', class: 'btn btn-outline-danger m-3'%>
  <%else%>
  <%= "Not subscribed"%>
  <%=link_to "Subscribe", event_subscribings_path({event_id: @event.id}), method: 'post', class: 'btn btn-outline-primary m-3'%>
  <%end%>
</p>
<p>

</p>